name: Python CI

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    python-version: ['3.12']
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Test with pytest
        run: pytest

